<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>

<!-- 			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern> -->
			<pattern>%d{HH:mm:ss} [%thread] %-5level  %logger{36}  %m%n%rEx{full,
			     java.lang.reflect.Method,
			     org.apache.catalina,
			     org.springframework.aop,
			     org.springframework.security,
			     org.springframework.web,
			     sun.reflect,
			     net.sf.cglib,
			     ByCGLIB
			   }
			</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<appender name="debugAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %n</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

<!-- 	<logger name="org.springframework.security" level="DEBUG"> -->
<!-- 		<appender-ref ref="debugAppender" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="org.springframework.transaction" level="DEBUG"> -->
<!-- 		<appender-ref ref="debugAppender" /> -->
<!-- 	</logger> -->

<!-- 	<logger name="org.springframework.orm.jpa.JpaTransactionManager" level="DEBUG"> -->
<!-- 		<appender-ref ref="debugAppender" /> -->
<!-- 	</logger> -->


<!-- 	<logger name="org.hibernate.SQL" level="DEBUG"> -->
<!-- 	    <appender-ref ref="debugAppender" /> -->
<!-- 	</logger> -->
<!-- 	<logger name="org.hibernate.type" level="trace"> -->
<!-- 	    <appender-ref ref="debugAppender" /> -->
<!-- 	</logger> -->

<!-- org.springframework.aop=stdout -->
<!-- br.com.anahp.sinha=stdout -->
<!-- org.springframework.security=stdout -->
<!-- org.springframework.transaction=stdout -->
<!-- org.springframework.web=stdout -->

<!-- logs the SQL statements -->
<!-- org.hibernate.SQL=debug -->
<!-- # Logs the JDBC parameters passed to a query -->
<!-- org.hibernate.type=trace -->

<!-- org.springframework.orm=stdout -->
<!-- org.hibernate.internal.SessionImpl=stdout -->
<!-- org.hibernate.SQL=stdout -->

<!-- org.springframework.orm.jpa=DEBUG -->
<!-- org.springframework.transaction.interceptor = DEBUG -->
<!-- org.springframework.transaction=DEBUG -->
<!-- org.springframework.transaction=INFO -->
<!-- org.hibernate.=stdout -->

	<root level="INFO">
		<appender-ref ref="consoleAppender" />
	</root>
</configuration>
